@model Instructor
<div class="card" style="width:400px">
  <img class="card-img-top" src="/Images/@Model.Image" alt="Card image">
  <div class="card-body">
    <h2 class="card-title">@Model.Name</h2>
        <p>@Model.Address</p>
        <h3>@Model.Salary</h3>
        <a href="http://localhost:7732/Instructor/Index" class="btn btn-primary">Back To Products</a>
  </div>
</div>