@model List<Instructor>
@{
    ViewData["Title"] = "Index";
}

<h1>Instructor</h1>
<table class="table table-hover table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Address</th>


    </tr>
    @foreach (Instructor item in Model)
    {
        <tr>
            <td><a href="http://localhost:7732/Instructor/Details?Id=@item.Id">@item.Id</a></td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
            <td>@item.Address</td>
           
        </tr>
    }
</table>